# Bivariate Data

In [1]:
# Get numpy and all other important modules
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
manatees = pd.read_csv("./DataSource/manatees.csv")
manatees.head(3)

   Year  Boats  Manatees
0  1977    447        13
1  1978    460        21
2  1979    481        24